.places {
    font-size: 30px;
}
article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
article h2 {
    font-size: 30px;
    text-align: center;
    margin: auto;
}
.row {
    display: flex;
    justify-content: center;
}
.price_by_night p{
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0;
    margin: 0;
}
.price_by_night {
    position: absolute;
    right: 0;
    top: 0;
}
.row-alt {
    position: relative;
}
.information {
    position: relative;
    height: 80px;
    margin-top: 40px;
    border-top: 1px solid #ddd ;
    border-bottom: 1px solid #ddd;
}
.max_guest,
.number_rooms,
.number_bathrooms {
    width: 100px;
    font-size: 14px;
    text-align: center;
    margin-bottom: -60px;
}
.bg {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin-bottom: -5px;
}
.max_guest .bg {
    background-image: url("../images/icon_group.png");
}
.number_rooms .bg {
    background-image: url("../images/icon_bed.png");
}
.number_bathrooms .bg {
    background-image: url("../images/icon_bath.png");
}
.text p {
    margin-top: 0;
    margin-bottom: 0;
}
.user p,
.description p {
    font-size: 14px;
}

article .amenities {
    margin-top: 40px;
    position: static;
    margin-bottom: 0;
    height: max-content;
}
article .amenities h2,
.reviews h2 {
    font-size: 16px;
    text-align: left;
}
.border {
    border-bottom: 1px solid #ddd;
    width: 390px;
    margin-top: 10px;
}
article .amenities ul {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 14px;
    list-style-type: none;
}
article li {
    padding-left:35px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
}
li.TV  {
    margin: 0;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
    background-image: url('../images/icon_tv.png');
}
li.WiFi {
    margin: 0;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
    background-image: url('../images/icon_wifi.png');
}
li.pets {
    margin: 0;
	background-repeat: no-repeat;
	background-position: left;
	background-size: 30px;
    background-image: url('../images/icon_pets.png');
    width: 100%;
}
.reviews {
    padding-top: 40px;
}
.reviews ul,
.reviews li {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}
.reviews h3 {
    font-size: 14px;
    margin-bottom: .5em;
}
.reviews p {
    margin-top: 0;
    font-size: 12px;
}
