header {
    position: relative;
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  
  .logo {
    width: 100%;
    height: 60px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
  }
